@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900; 1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  --primary-font: "Inter";
  --secondary-font: "Open Sans";
  --primary: #0B1331;
  --secondary: #546374;
  --accent: #3657C8;
  --inverse: #2645af;
  --bg-primary: #fff;
  --bg-secondary: #7678ed;
  --bg-accent: #4cc9f0;
  --bg-inverse: #2d00f7;
  --text-primary: #fbfffe;
  --text-secondary: #080708;
  --text-accent: #e8eddf;
  --text-inverse: #e8eddf
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 360px
}
body {
  color: var(--primary);
  line-height: 1;
  font-family: var(--primary-font),sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: var(--primary-font),sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top;
  display: block;
  max-width: 100%;
  height: auto
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  background-color: var(--bg-primary);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 96.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,95rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  position: relative;
  z-index: 5;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: inline-flex;
  padding: 17px 30px;
  background-color: var(--accent);
  border-radius: 6.25rem;
  color: #fff;
  transition: background-color .3s ease-in-out
}
.button_white {
  background-color: var(--bg-primary);
  color: var(--primary)
}
.button--fw {
  width: 100%
}
.menu__list {
  display: flex;
  align-items: center
}
.menu__link {
  display: block;
  transition: border-color .3s ease-in-out
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase
}
.d-flex {
  display: flex
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.header__logo {
  position: relative;
  z-index: 5
}
.hero {
  position: relative
}
.hero__dec {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -20%;
  left: 0
}
.hero__container {
  max-width: 75rem;
  position: relative;
  z-index: 2
}
.hero__title {
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  max-width: 45rem
}
.hero__title span {
  color: var(--accent)
}
.hero__text {
  text-align: center;
  color: var(--secondary);
  max-width: 38.75rem;
  margin: 0 auto;
  line-height: 1.3
}
.benefits__container {
  position: relative;
  z-index: 2
}
.benefits__items {
  display: flex
}
.benefit {
  box-shadow: 0 4px 40px 0 rgba(191,198,224,.4);
  background: #fff;
  flex: 1 1 32.333%;
  border-radius: 1.875rem
}
.benefit__header {
  display: flex;
  align-items: center
}
.benefit__body {
  font-family: var(--secondary-font),sans-serif;
  line-height: 130%;
  color: var(--secondary);
  font-weight: 300
}
.cases__items {
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.case {
  box-shadow: 0 4px 40px 0 rgba(191,198,224,.4);
  background: #fff;
  border-radius: 1.875rem;
  overflow: hidden;
  position: relative
}
.case:first-child {
  grid-column: 1;
  grid-row: span 2
}
.case:first-child .case__img {
  height: auto;
  bottom: 0;
  top: auto;
  left: 50%;
  translate: -50% 0
}
.case:nth-child(2) {
  min-height: 15.9375rem
}
.case:nth-child(2) .case__title {
  flex: 0 0 48%
}
.case:nth-child(2) .case__img {
  right: 0
}
.case:nth-child(3) {
  min-height: 15.9375rem;
  grid-column: 2;
  grid-row: 2;
  flex-direction: row-reverse
}
.case:nth-child(3) .case__title {
  flex: 0 0 48%
}
.case:nth-child(3) .case__img {
  left: 0
}
.case:nth-child(4) {
  grid-column: 3;
  grid-row: span 3;
  display: flex;
  flex-direction: column
}
.case:nth-child(4) .case__img {
  order: -1
}
.case:last-child {
  grid-column: span 2
}
.case:last-child .case__body {
  flex: 0 0 48%
}
.case__body {
  position: relative;
  z-index: 2
}
.case__title {
  font-weight: 700
}
.case__text {
  font-family: var(--secondary-font),sans-serif;
  line-height: 130%;
  color: var(--secondary)
}
.case__img {
  position: relative;
  z-index: 2
}
.d-flex .case__img {
  position: absolute;
  height: 100%;
  top: 0
}
.case__img-dec {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.now-start__wrapper {
  position: relative;
  padding-top: 1.75rem;
  box-shadow: 0 4px 40px 0 rgba(191,198,224,.4);
  background: #fff;
  border-radius: 1.875rem;
  overflow: hidden;
  display: flex;
  align-items: center
}
.now-start__dec {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.now-start__img {
  flex: 1 1 50%;
  position: relative;
  z-index: 2
}
.now-start__img img {
  margin: 0 auto;
  box-shadow: 0 6px 44px 0 rgba(191,198,224,.4);
  width: 15.9375rem
}
.now-start__content {
  flex: 1 1 50%;
  position: relative;
  z-index: 2;
  display: grid
}
.now-start__title {
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700
}
.now-start__text {
  font-weight: 300;
  font-family: var(--secondary-font),sans-serif;
  color: var(--secondary);
  line-height: 1.3
}
.how-work__items {
  display: grid
}
.item-how-work {
  display: flex;
  position: relative;
  align-items: center
}
.item-how-work:nth-child(5) .item-how-work__img img {
  mix-blend-mode: darken
}
.item-how-work:nth-child(even) {
  flex-direction: row-reverse
}
.item-how-work:nth-child(even) .item-how-work__dec {
  left: 80%
}
.item-how-work:nth-child(odd) .item-how-work__dec {
  right: 80%
}
.item-how-work__dec {
  position: absolute;
  width: 46.75rem;
  height: 63.25rem;
  top: 50%;
  translate: 0 -50%
}
.item-how-work__img {
  flex: 0 0 30%
}
.item-how-work__img img {
  position: relative;
  z-index: 2
}
.item-how-work__body {
  position: relative;
  z-index: 2;
  max-width: 32.5rem
}
.item-how-work__title {
  font-weight: 700;
  line-height: 1.2
}
.item-how-work__text {
  font-family: var(--secondary-font),sans-serif;
  color: var(--secondary);
  line-height: 130%
}
.accent-block {
  padding: .9375rem;
  border-radius: 1.875rem;
  overflow: hidden;
  box-shadow: 0 4px 40px 0 rgba(191,198,224,.4);
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.accent-block__content {
  position: relative;
  z-index: 2;
  flex: 0 0 60%
}
.accent-block__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.accent-block__img {
  position: relative;
  z-index: 2
}
.accent-block__img img {
  max-width: 25.1875rem
}
.accent-block__title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2
}
.accent-block__text {
  line-height: 130%;
  color: var(--secondary);
  font-family: var(--secondary-font),sans-serif
}
.why__items {
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.item-why {
  box-shadow: 0 4px 40px 0 rgba(191,198,224,.4);
  background: #fff;
  border-radius: 1.875rem;
  position: relative;
  overflow: hidden
}
.item-why:nth-child(4) .item-why__img {
  width: 90%;
  left: 50%;
  translate: -50% 0
}
.item-why__title {
  font-weight: 700;
  line-height: 1.2083333333
}
.item-why_light .item-why__title {
  color: var(--bg-primary)
}
.item-why__text {
  font-weight: 300;
  line-height: 130%;
  font-family: var(--secondary-font),sans-serif;
  color: var(--secondary)
}
.item-why__text strong {
  display: block;
  margin-top: .625rem
}
.item-why_dark .item-why__text {
  color: var(--primary)
}
.item-why_light .item-why__text {
  color: var(--bg-primary)
}
.item-why__img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0
}
.tariffs__body.swiper {
  overflow: visible
}
.tariffs__wrapper {
  align-items: center
}
.tariff {
  box-shadow: 0 4px 40px 0 rgba(191,198,224,.4);
  background: #fff;
  border-radius: 1.875rem;
  min-height: 23.5625rem;
  display: flex;
  flex-direction: column
}
.tariff__header {
  display: flex;
  justify-content: space-between;
  gap: .625rem;
  align-items: center
}
.tariff__footer {
  margin-top: auto;
  text-align: center
}
.tariff__info {
  display: grid;
  gap: 1.25rem;
  justify-items: center;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  margin: 1.25rem 0
}
.tariff__info strong {
  text-transform: uppercase
}
.tariff__info small {
  font-weight: 700;
  font-size: 1.25rem
}
.price {
  font-weight: 700
}
.price__current small {
  font-weight: 300;
  color: #bfc6e0
}
.price__current small strong {
  color: var(--primary)
}
.price__old {
  color: #bfc6e0
}
._center .price__old {
  color: var(--primary)
}
.sale {
  font-weight: 700;
  color: #d24b6c
}
.swiper-pagination {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  gap: .875rem
}
.swiper-pagination-bullet {
  width: .875rem;
  height: .875rem;
  border-radius: 50%;
  background-color: #bfc6e0;
  transition: all .3s ease-in-out
}
.swiper-pagination-bullet-active {
  background-color: var(--accent)
}
.try__container {
  position: relative;
  text-align: center
}
.try__dec {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  translate: 0 -50%
}
.try__text {
  font-weight: 700;
  line-height: 130%
}
.members__inner {
  text-align: center;
  box-shadow: 0 4px 40px 0 rgba(191,198,224,.4);
  background: #3657c8;
  border-radius: 1.875rem
}
.members__text {
  color: var(--bg-primary);
  font-weight: 700;
  line-height: 1.2222222222
}
.members__btn {
  min-width: 18.75rem
}
.aggregator__items {
  display: flex;
  flex-wrap: wrap
}
.aggregator-item {
  box-shadow: 0 4px 40px 0 rgba(191,198,224,.4);
  background: #fff;
  flex: 1 1 48%;
  overflow: hidden;
  position: relative;
  border-radius: 1.875rem
}
.aggregator-item:first-child {
  display: flex;
  align-items: flex-end
}
.aggregator-item:first-child .aggregator-item__img {
  width: 100%;
  top: 0;
  left: 0
}
.aggregator-item:last-child .aggregator-item__img {
  bottom: 0;
  left: 50%;
  translate: -50% 0
}
.aggregator-item__img {
  position: absolute
}
.aggregator-item__info {
  position: relative;
  z-index: 2
}
.aggregator-item__info strong {
  line-height: 120%;
  display: block
}
.aggregator-item__text {
  font-weight: 300;
  font-family: var(--secondary-font),sans-serif;
  color: var(--secondary);
  line-height: 1.3
}
.settings-why {
  box-shadow: 0 4px 40px 0 rgba(191,198,224,.4);
  background: #fff;
  flex: 1 1 48%;
  overflow: hidden;
  position: relative;
  border-radius: 1.875rem
}
.settings-why__dec {
  position: absolute;
  top: 0;
  height: 100%
}
.settings-why__dec-left {
  left: 0
}
.settings-why__dec-right {
  right: 0
}
.settings-why__info {
  position: relative;
  z-index: 2
}
.settings-why__info strong {
  line-height: 1.2;
  display: block
}
.settings-why__text {
  font-weight: 300;
  font-family: var(--secondary-font),sans-serif;
  color: var(--secondary);
  line-height: 1.3
}
.settings-why__img {
  position: relative;
  z-index: 2
}
.partners__items {
  display: flex;
  align-items: center;
  justify-content: center
}
.partners-item {
  flex: 0 1 24.375rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .item-why:nth-child(3) {
    grid-row: span 2
  }
  .item-why:nth-child(4) {
    grid-row: 2/span 2
  }
}
@media (min-width:61.99875em) {
  .menu__link {
    border-bottom: 2px solid transparent;
    padding-bottom: .1875rem;
    padding-top: .1875rem
  }
  .cases__items {
    margin-bottom: 2.5rem
  }
  .now-start__text {
    max-width: 33.125rem
  }
  .try__text {
    max-width: 40rem;
    margin: 0 auto
  }
  .aggregator-item:first-child .aggregator-item__img {
    height: 100%
  }
}
@media (min-width:74.99875em) {
  .swiper-pagination {
    display: none
  }
}
@media (min-width:96.875em) {
  .section-bottom {
    padding-bottom: 9.375rem
  }
  .title {
    font-size: 3.125rem
  }
  .header {
    margin-top: 2.5rem
  }
  .header__logo {
    flex-basis: 8.1875rem
  }
  .hero {
    padding-top: 5rem
  }
  .hero__title {
    min-height: 7.25rem
  }
  .hero__title {
    font-size: 3.125rem
  }
  .hero__text {
    font-size: 1.5rem
  }
  .hero__text {
    margin-bottom: 1.875rem
  }
  .benefits__items {
    gap: 1.875rem
  }
  .benefit {
    padding-top: 2.875rem
  }
  .benefit {
    padding-bottom: 2.875rem
  }
  .benefit {
    padding-left: 3.125rem
  }
  .benefit {
    padding-right: 3.125rem
  }
  .benefit__header {
    gap: 1.875rem
  }
  .benefit__header {
    margin-bottom: 1.875rem
  }
  .benefit__header strong {
    font-size: 1.5rem
  }
  .benefit__header img {
    width: 5.25rem
  }
  .benefit__body {
    font-size: 1.125rem
  }
  .cases__title {
    margin-bottom: 4.375rem
  }
  .cases__items {
    gap: 1.875rem
  }
  .case {
    padding: 3.125rem
  }
  .case:nth-child(4) {
    gap: 1.875rem
  }
  .case:last-child {
    min-height: 20.8125rem
  }
  .case:last-child .case__img {
    right: 1.25rem
  }
  .case:last-child .case__img {
    width: 27rem
  }
  .case__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .case__title {
    font-size: 1.5rem
  }
  .case__text {
    font-size: 1.125rem
  }
  .now-start__content {
    gap: 1.875rem
  }
  .now-start__title {
    font-size: 2.5rem
  }
  .now-start__text {
    font-size: 1.125rem
  }
  .how-work__items {
    gap: 1.25rem
  }
  .item-how-work__dec {
    width: 46.75rem
  }
  .item-how-work__dec {
    height: 63.25rem
  }
  .item-how-work__title {
    margin-bottom: 1.25rem
  }
  .item-how-work__title {
    font-size: 1.5rem
  }
  .item-how-work__text {
    font-size: 1.125rem
  }
  .why__title {
    margin-bottom: 4.375rem
  }
  .why__accent {
    margin-bottom: 1.875rem
  }
  .accent-block__title {
    font-size: 2.5rem
  }
  .accent-block__title {
    margin-bottom: 3.125rem
  }
  .accent-block__text {
    font-size: 1.5rem
  }
  .why__items {
    gap: 1.875rem
  }
  .why__items {
    margin-bottom: 1.875rem
  }
  .item-why__title {
    font-size: 1.5rem
  }
  .item-why__title {
    margin-bottom: 1.25rem
  }
  .tariffs__title {
    margin-bottom: 4.375rem
  }
  .tariff {
    padding: 3.125rem
  }
  .tariff__header {
    margin-bottom: 1.5rem
  }
  .tariff__header strong {
    font-size: 1.5rem
  }
  .tariff__info strong {
    font-size: 2.5rem
  }
  .price {
    font-size: 2.25rem
  }
  .price__current small {
    font-size: 1.5rem
  }
  .sale {
    font-size: 2.25rem
  }
  .try__title {
    margin-bottom: 4.375rem
  }
  .try__text {
    font-size: 1.125rem
  }
  .try__btn {
    margin-top: 3.125rem
  }
  .members__inner {
    padding: 3.75rem
  }
  .members__text {
    font-size: 2.25rem
  }
  .members__text {
    margin-bottom: 2.5rem
  }
  .aggregator__title {
    margin-bottom: 4.375rem
  }
  .aggregator__items {
    gap: 1.875rem
  }
  .aggregator-item {
    min-height: 33.75rem
  }
  .aggregator-item {
    padding: 3.125rem
  }
  .aggregator-item:last-child .aggregator-item__img {
    width: 34rem
  }
  .aggregator-item__info strong {
    font-size: 1.5rem
  }
  .aggregator-item__info strong {
    margin-bottom: 1.25rem
  }
  .aggregator-item__text {
    font-size: 1.125rem
  }
  .settings-why {
    padding: 3.125rem
  }
  .settings-why__info strong {
    margin-bottom: 1.25rem
  }
  .settings-why__info strong {
    font-size: 1.5rem
  }
  .settings-why__text {
    margin-bottom: 5rem
  }
  .partners__title {
    margin-bottom: 4.375rem
  }
  .partners__items {
    gap: 3.125rem
  }
}
@media (min-width:75em) {
  .item-why {
    min-height: 14.875rem
  }
}
@media (min-width:120em) {
  .menu__list {
    gap: 2.5rem
  }
  .case:first-child .case__img {
    width: 27.9375rem
  }
  .case:nth-child(2) {
    min-height: 15.9375rem
  }
  .case:nth-child(2) .case__img {
    width: 16.0625rem
  }
  .case:nth-child(3) {
    min-height: 15.9375rem
  }
  .case:nth-child(3) .case__img {
    width: 14.1875rem
  }
  .item-how-work {
    gap: 9.375rem
  }
  .accent-block {
    gap: 9.375rem
  }
  .accent-block {
    padding-left: 5.625rem
  }
  .accent-block {
    padding-right: 5.625rem
  }
  .item-why {
    padding: 3.125rem
  }
}
@media (max-width:62em) {
  .menu__list {
    gap: 1.25rem
  }
  .case:first-child .case__img {
    width: 21.6875rem
  }
  .case:nth-child(2) {
    min-height: 10.625rem
  }
  .case:nth-child(2) .case__img {
    width: 8.75rem
  }
  .case:nth-child(3) {
    min-height: 10.625rem
  }
  .case:nth-child(3) .case__img {
    width: 8.75rem
  }
  .item-how-work {
    gap: 2.5rem
  }
  .accent-block {
    gap: 1.25rem
  }
  .accent-block {
    padding-left: 1.25rem
  }
  .accent-block {
    padding-right: 1.25rem
  }
  .item-why {
    min-height: 10.1875rem
  }
  .item-why {
    padding: 1.25rem
  }
}
@media (max-width:96.875em) {
  .item-how-work:nth-child(even) .item-how-work__dec {
    left: 66%
  }
  .item-how-work:nth-child(odd) .item-how-work__dec {
    right: 66%
  }
}
@media (max-width:74.99875em) {
  .tariffs__slide:nth-child(2) {
    order: -1
  }
}
@media (max-width:61.99875em) {
  .button {
    padding: 12px 30px
  }
  .header__menu {
    display: flex;
    align-items: center;
    gap: 1.25rem
  }
  .benefits__items {
    flex-wrap: wrap
  }
  .cases__items {
    grid-template-columns: repeat(3,18.75rem);
    overflow-x: auto;
    padding: 1.875rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 7.5rem .9375rem .9375rem .9375rem;
    transition: left .3s;
    background-color: #fff;
    z-index: 4
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: .25rem;
    z-index: 5;
    background-color: rgba(191,198,224,.2)
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    left: 50%;
    translate: -50% 0;
    position: absolute;
    width: 1.5rem;
    height: .125rem;
    background-color: var(--accent)
  }
  .icon-menu::before {
    top: .625rem
  }
  .icon-menu::after {
    bottom: .625rem
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .benefit {
    flex: 1 1 50%
  }
  .now-start__wrapper {
    padding: 1.875rem 1.25rem;
    text-align: center
  }
  .now-start__img {
    display: none
  }
  .now-start__content {
    justify-items: center
  }
  .accent-block {
    padding: 1.875rem 1.25rem;
    flex-wrap: wrap;
    justify-content: center
  }
  .accent-block__content {
    flex: 1 1 100%
  }
  .why__items {
    grid-template-columns: repeat(2,1fr)
  }
  .item-why_img {
    min-height: 24rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .benefit {
    border-radius: 1.25rem
  }
  .case {
    border-radius: 1rem
  }
  .now-start__wrapper {
    border-radius: 1.25rem
  }
  .item-how-work {
    flex-wrap: wrap;
    justify-content: center
  }
  .item-how-work__img {
    flex: 1 1 90%
  }
  .accent-block {
    border-radius: 1.25rem
  }
  .why__items {
    grid-template-columns: 1fr
  }
  .item-why {
    border-radius: 1.875rem
  }
  .tariff {
    border-radius: 1.25rem
  }
  .members__inner {
    border-radius: 1.25rem
  }
  .aggregator-item {
    border-radius: 1.25rem
  }
  .aggregator-item:first-child .aggregator-item__img {
    height: 100%
  }
  .settings-why {
    border-radius: 1.25rem
  }
}
@media (max-width:22.5em) {
  .section-bottom {
    padding-bottom: 3.75rem
  }
  .title {
    font-size: 1.5rem
  }
  .header {
    margin-top: 1.25rem
  }
  .header__logo {
    flex-basis: 2.6875rem
  }
  .hero {
    padding-top: 3.75rem
  }
  .hero__title {
    min-height: 5rem
  }
  .hero__title {
    font-size: 2rem
  }
  .hero__text {
    font-size: 1rem
  }
  .hero__text {
    margin-bottom: 1.25rem
  }
  .benefits__items {
    gap: 1.25rem
  }
  .benefit {
    padding-top: 1.875rem
  }
  .benefit {
    padding-bottom: 1.875rem
  }
  .benefit {
    padding-left: 1.25rem
  }
  .benefit {
    padding-right: 1.25rem
  }
  .benefit__header {
    gap: .9375rem
  }
  .benefit__header {
    margin-bottom: 1.25rem
  }
  .benefit__header strong {
    font-size: 1.25rem
  }
  .benefit__header img {
    width: 2.75rem
  }
  .benefit__body {
    font-size: 1rem
  }
  .cases__title {
    margin-bottom: .625rem
  }
  .cases__items {
    gap: 1.25rem
  }
  .case {
    padding: 1.25rem
  }
  .case:nth-child(4) {
    gap: 1.25rem
  }
  .case:last-child {
    min-height: 12.6875rem
  }
  .case:last-child .case__img {
    right: .3125rem
  }
  .case:last-child .case__img {
    width: 14.125rem
  }
  .case__title:not(:last-child) {
    margin-bottom: .75rem
  }
  .case__title {
    font-size: .875rem
  }
  .case__text {
    font-size: .75rem
  }
  .now-start__content {
    gap: 1.25rem
  }
  .now-start__title {
    font-size: 1.25rem
  }
  .now-start__text {
    font-size: .875rem
  }
  .how-work__items {
    gap: .625rem
  }
  .item-how-work__dec {
    width: 12.5rem
  }
  .item-how-work__dec {
    height: 17.5rem
  }
  .item-how-work__title {
    margin-bottom: .625rem
  }
  .item-how-work__title {
    font-size: 1.25rem
  }
  .item-how-work__text {
    font-size: 1rem
  }
  .why__title {
    margin-bottom: 1.875rem
  }
  .why__accent {
    margin-bottom: 1.25rem
  }
  .accent-block__title {
    font-size: 1.25rem
  }
  .accent-block__title {
    margin-bottom: 1rem
  }
  .accent-block__text {
    font-size: 1rem
  }
  .why__items {
    gap: 1.25rem
  }
  .why__items {
    margin-bottom: 1.25rem
  }
  .item-why__title {
    font-size: 1.25rem
  }
  .item-why__title {
    margin-bottom: .625rem
  }
  .tariffs__title {
    margin-bottom: 1.875rem
  }
  .tariff {
    padding: 1.875rem
  }
  .tariff__header {
    margin-bottom: 1rem
  }
  .tariff__header strong {
    font-size: 1.25rem
  }
  .tariff__info strong {
    font-size: 1.875rem
  }
  .price {
    font-size: 1.875rem
  }
  .price__current small {
    font-size: 1.25rem
  }
  .sale {
    font-size: 1.5rem
  }
  .try__title {
    margin-bottom: 1.875rem
  }
  .try__text {
    font-size: .875rem
  }
  .try__btn {
    margin-top: 1.25rem
  }
  .members__inner {
    padding: 1.875rem
  }
  .members__text {
    font-size: 1.25rem
  }
  .members__text {
    margin-bottom: 1.875rem
  }
  .aggregator__title {
    margin-bottom: 1.875rem
  }
  .aggregator__items {
    gap: 1.25rem
  }
  .aggregator-item {
    min-height: 28.125rem
  }
  .aggregator-item {
    padding: 1.25rem
  }
  .aggregator-item:last-child .aggregator-item__img {
    width: 20rem
  }
  .aggregator-item__info strong {
    font-size: 1.25rem
  }
  .aggregator-item__info strong {
    margin-bottom: .625rem
  }
  .aggregator-item__text {
    font-size: 1rem
  }
  .settings-why {
    padding: 1.25rem
  }
  .settings-why__info strong {
    margin-bottom: .625rem
  }
  .settings-why__info strong {
    font-size: 1.25rem
  }
  .settings-why__text {
    margin-bottom: 3.75rem
  }
  .partners__title {
    margin-bottom: 1.875rem
  }
  .partners__items {
    gap: 1rem
  }
}
@media (min-width:62em)and (max-width:120em) {
  .menu__list {
    gap: clamp(1.25rem ,-.0862068966rem + 2.1551724138vw ,2.5rem)
  }
  .case:first-child .case__img {
    width: clamp(21.6875rem ,15.0064655172rem + 10.775862069vw ,27.9375rem)
  }
  .case:nth-child(2) {
    min-height: clamp(10.625rem ,4.9461206897rem + 9.1594827586vw ,15.9375rem)
  }
  .case:nth-child(2) .case__img {
    width: clamp(8.75rem ,.9331896552rem + 12.6077586207vw ,16.0625rem)
  }
  .case:nth-child(3) {
    min-height: clamp(10.625rem ,4.9461206897rem + 9.1594827586vw ,15.9375rem)
  }
  .case:nth-child(3) .case__img {
    width: clamp(8.75rem ,2.9375rem + 9.375vw ,14.1875rem)
  }
  .item-how-work {
    gap: clamp(2.5rem ,-4.849137931rem + 11.8534482759vw ,9.375rem)
  }
  .accent-block {
    gap: clamp(1.25rem ,-7.4353448276rem + 14.0086206897vw ,9.375rem)
  }
  .accent-block {
    padding-left: clamp(1.25rem ,-3.4267241379rem + 7.5431034483vw ,5.625rem)
  }
  .accent-block {
    padding-right: clamp(1.25rem ,-3.4267241379rem + 7.5431034483vw ,5.625rem)
  }
  .item-why {
    padding: clamp(1.25rem ,-.7543103448rem + 3.2327586207vw ,3.125rem)
  }
}
@media (min-width:22.5em)and (max-width:96.875em) {
  .section-bottom {
    padding-bottom: clamp(3.75rem ,2.0483193277rem + 7.5630252101vw ,9.375rem)
  }
  .title {
    font-size: clamp(1.5rem ,1.0084033613rem + 2.1848739496vw ,3.125rem)
  }
  .header {
    margin-top: clamp(1.25rem ,.8718487395rem + 1.6806722689vw ,2.5rem)
  }
  .header__logo {
    flex-basis: clamp(2.6875rem ,1.0236344538rem + 7.3949579832vw ,8.1875rem)
  }
  .hero {
    padding-top: clamp(3.75rem ,3.3718487395rem + 1.6806722689vw ,5rem)
  }
  .hero__title {
    min-height: clamp(5rem ,4.3193277311rem + 3.025210084vw ,7.25rem)
  }
  .hero__title {
    font-size: clamp(2rem ,1.6596638655rem + 1.512605042vw ,3.125rem)
  }
  .hero__text {
    font-size: clamp(1rem ,.8487394958rem + .6722689076vw ,1.5rem)
  }
  .hero__text {
    margin-bottom: clamp(1.25rem ,1.0609243697rem + .8403361345vw ,1.875rem)
  }
  .benefits__items {
    gap: clamp(1.25rem ,1.0609243697rem + .8403361345vw ,1.875rem)
  }
  .benefit {
    padding-top: clamp(1.875rem ,1.5724789916rem + 1.3445378151vw ,2.875rem)
  }
  .benefit {
    padding-bottom: clamp(1.875rem ,1.5724789916rem + 1.3445378151vw ,2.875rem)
  }
  .benefit {
    padding-left: clamp(1.25rem ,.6827731092rem + 2.5210084034vw ,3.125rem)
  }
  .benefit {
    padding-right: clamp(1.25rem ,.6827731092rem + 2.5210084034vw ,3.125rem)
  }
  .benefit__header {
    gap: clamp(.9375rem ,.6538865546rem + 1.2605042017vw ,1.875rem)
  }
  .benefit__header {
    margin-bottom: clamp(1.25rem ,1.0609243697rem + .8403361345vw ,1.875rem)
  }
  .benefit__header strong {
    font-size: clamp(1.25rem ,1.1743697479rem + .3361344538vw ,1.5rem)
  }
  .benefit__header img {
    width: clamp(2.75rem ,1.993697479rem + 3.3613445378vw ,5.25rem)
  }
  .benefit__body {
    font-size: clamp(1rem ,.9621848739rem + .1680672269vw ,1.125rem)
  }
  .cases__title {
    margin-bottom: clamp(.625rem ,-.5094537815rem + 5.0420168067vw ,4.375rem)
  }
  .cases__items {
    gap: clamp(1.25rem ,1.0609243697rem + .8403361345vw ,1.875rem)
  }
  .case {
    padding: clamp(1.25rem ,.6827731092rem + 2.5210084034vw ,3.125rem)
  }
  .case:nth-child(4) {
    gap: clamp(1.25rem ,1.0609243697rem + .8403361345vw ,1.875rem)
  }
  .case:last-child {
    min-height: clamp(12.6875rem ,10.2295168067rem + 10.9243697479vw ,20.8125rem)
  }
  .case:last-child .case__img {
    right: clamp(.3125rem ,.0288865546rem + 1.2605042017vw ,1.25rem)
  }
  .case:last-child .case__img {
    width: clamp(14.125rem ,10.2300420168rem + 17.3109243697vw ,27rem)
  }
  .case__title:not(:last-child) {
    margin-bottom: clamp(.75rem ,.5987394958rem + .6722689076vw ,1.25rem)
  }
  .case__title {
    font-size: clamp(.875rem ,.6859243697rem + .8403361345vw ,1.5rem)
  }
  .case__text {
    font-size: clamp(.75rem ,.6365546218rem + .5042016807vw ,1.125rem)
  }
  .now-start__content {
    gap: clamp(1.25rem ,1.0609243697rem + .8403361345vw ,1.875rem)
  }
  .now-start__title {
    font-size: clamp(1.25rem ,.8718487395rem + 1.6806722689vw ,2.5rem)
  }
  .now-start__text {
    font-size: clamp(.875rem ,.7993697479rem + .3361344538vw ,1.125rem)
  }
  .how-work__items {
    gap: clamp(.625rem ,.4359243697rem + .8403361345vw ,1.25rem)
  }
  .item-how-work__dec {
    width: clamp(12.5rem ,2.1386554622rem + 46.0504201681vw ,46.75rem)
  }
  .item-how-work__dec {
    height: clamp(17.5rem ,3.6596638655rem + 61.512605042vw ,63.25rem)
  }
  .item-how-work__title {
    margin-bottom: clamp(.625rem ,.4359243697rem + .8403361345vw ,1.25rem)
  }
  .item-how-work__title {
    font-size: clamp(1.25rem ,1.1743697479rem + .3361344538vw ,1.5rem)
  }
  .item-how-work__text {
    font-size: clamp(1rem ,.9621848739rem + .1680672269vw ,1.125rem)
  }
  .why__title {
    margin-bottom: clamp(1.875rem ,1.118697479rem + 3.3613445378vw ,4.375rem)
  }
  .why__accent {
    margin-bottom: clamp(1.25rem ,1.0609243697rem + .8403361345vw ,1.875rem)
  }
  .accent-block__title {
    font-size: clamp(1.25rem ,.8718487395rem + 1.6806722689vw ,2.5rem)
  }
  .accent-block__title {
    margin-bottom: clamp(1rem ,.3571428571rem + 2.8571428571vw ,3.125rem)
  }
  .accent-block__text {
    font-size: clamp(1rem ,.8487394958rem + .6722689076vw ,1.5rem)
  }
  .why__items {
    gap: clamp(1.25rem ,1.0609243697rem + .8403361345vw ,1.875rem)
  }
  .why__items {
    margin-bottom: clamp(1.25rem ,1.0609243697rem + .8403361345vw ,1.875rem)
  }
  .item-why__title {
    font-size: clamp(1.25rem ,1.1743697479rem + .3361344538vw ,1.5rem)
  }
  .item-why__title {
    margin-bottom: clamp(.625rem ,.4359243697rem + .8403361345vw ,1.25rem)
  }
  .tariffs__title {
    margin-bottom: clamp(1.875rem ,1.118697479rem + 3.3613445378vw ,4.375rem)
  }
  .tariff {
    padding: clamp(1.875rem ,1.4968487395rem + 1.6806722689vw ,3.125rem)
  }
  .tariff__header {
    margin-bottom: clamp(1rem ,.8487394958rem + .6722689076vw ,1.5rem)
  }
  .tariff__header strong {
    font-size: clamp(1.25rem ,1.1743697479rem + .3361344538vw ,1.5rem)
  }
  .tariff__info strong {
    font-size: clamp(1.875rem ,1.6859243697rem + .8403361345vw ,2.5rem)
  }
  .price {
    font-size: clamp(1.875rem ,1.7615546218rem + .5042016807vw ,2.25rem)
  }
  .price__current small {
    font-size: clamp(1.25rem ,1.1743697479rem + .3361344538vw ,1.5rem)
  }
  .sale {
    font-size: clamp(1.5rem ,1.2731092437rem + 1.0084033613vw ,2.25rem)
  }
  .try__title {
    margin-bottom: clamp(1.875rem ,1.118697479rem + 3.3613445378vw ,4.375rem)
  }
  .try__text {
    font-size: clamp(.875rem ,.7993697479rem + .3361344538vw ,1.125rem)
  }
  .try__btn {
    margin-top: clamp(1.25rem ,.6827731092rem + 2.5210084034vw ,3.125rem)
  }
  .members__inner {
    padding: clamp(1.875rem ,1.3077731092rem + 2.5210084034vw ,3.75rem)
  }
  .members__text {
    font-size: clamp(1.25rem ,.9474789916rem + 1.3445378151vw ,2.25rem)
  }
  .members__text {
    margin-bottom: clamp(1.875rem ,1.6859243697rem + .8403361345vw ,2.5rem)
  }
  .aggregator__title {
    margin-bottom: clamp(1.875rem ,1.118697479rem + 3.3613445378vw ,4.375rem)
  }
  .aggregator__items {
    gap: clamp(1.25rem ,1.0609243697rem + .8403361345vw ,1.875rem)
  }
  .aggregator-item {
    min-height: clamp(28.125rem ,26.4233193277rem + 7.5630252101vw ,33.75rem)
  }
  .aggregator-item {
    padding: clamp(1.25rem ,.6827731092rem + 2.5210084034vw ,3.125rem)
  }
  .aggregator-item:last-child .aggregator-item__img {
    width: clamp(20rem ,15.7647058824rem + 18.8235294118vw ,34rem)
  }
  .aggregator-item__info strong {
    font-size: clamp(1.25rem ,1.1743697479rem + .3361344538vw ,1.5rem)
  }
  .aggregator-item__info strong {
    margin-bottom: clamp(.625rem ,.4359243697rem + .8403361345vw ,1.25rem)
  }
  .aggregator-item__text {
    font-size: clamp(1rem ,.9621848739rem + .1680672269vw ,1.125rem)
  }
  .settings-why {
    padding: clamp(1.25rem ,.6827731092rem + 2.5210084034vw ,3.125rem)
  }
  .settings-why__info strong {
    margin-bottom: clamp(.625rem ,.4359243697rem + .8403361345vw ,1.25rem)
  }
  .settings-why__info strong {
    font-size: clamp(1.25rem ,1.1743697479rem + .3361344538vw ,1.5rem)
  }
  .settings-why__text {
    margin-bottom: clamp(3.75rem ,3.3718487395rem + 1.6806722689vw ,5rem)
  }
  .partners__title {
    margin-bottom: clamp(1.875rem ,1.118697479rem + 3.3613445378vw ,4.375rem)
  }
  .partners__items {
    gap: clamp(1rem ,.3571428571rem + 2.8571428571vw ,3.125rem)
  }
}
@media (min-width:62em)and (max-width:75em) {
  .item-why {
    min-height: clamp(10.1875rem ,-12.1682692308rem + 36.0576923077vw ,14.875rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: var(--inverse)
  }
  .menu__link:hover {
    border-color: var(--primary)
  }
}